{{!--
{{#if featured}}
<button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent"><i class="material-icons mdl-color-text--white">whatshot</i></button>
{{/if}}
--}}

<div class="mdl-card__media mdl-color-text--grey-50">
	<h3><a href="{{url}}">{{title}}</a></h3>
</div>
<div class="mdl-color-text--grey-600 mdl-card__supporting-text">
	{{excerpt}}
</div>
<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
	<div class="minilogo-author-{{author.id}}-{{author.slug}}"></div>
	<div>
		<strong>{{author}}</strong>
		<span>{{date published_at timeago="true"}}{{> tag-list}}</span>
	</div>
</div>
