<!-- contact info, always displayed next to first post -->
{{#author}}
<div class="mdl-card author-{{id}}-{{slug}} mdl-shadow--2dp something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
	<button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent"><i class="material-icons mdl-color-text--white">whatshot {{! link to rss}}</i></button>

	<div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
		<div class="demo-blog logo-author-{{id}}-{{slug}}"></div>
		{{name}}
	</div>
	<div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
		<div>
			<strong>{{bio}}</strong>
		</div>
{{!--
		<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="menubtn">
			<button class="mdl-menu__item mdl-js-ripple-effect">About</button> {{! url}}
			<button class="mdl-menu__item mdl-js-ripple-effect">Message</button>
			<button class="mdl-menu__item mdl-js-ripple-effect">Favorite</button>
			<button class="mdl-menu__item mdl-js-ripple-effect">Search</button>
		</ul>
		<button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
			<i class="material-icons">more_vert</i>
		</button>
--}}
	</div>
</div>
{{/author}}
