<!doctype html>
<!--
	Material Design Lite
	Copyright 2015 Google Inc. All rights reserved.

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		https://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License
-->
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{{@blog.description}}"> {{! meta_description}}
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{meta_title}}</title>

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="{{asset "images/touch/chrome-touch-icon-192x192.png"}}">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Material Design Lite">
	<link rel="apple-touch-icon-precomposed" href="{{asset "images/apple-touch-icon-precomposed.png"}}">

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="{{asset "images/touch/ms-touch-icon-144x144-precomposed.png"}}">
	<meta name="msapplication-TileColor" content="#3372DF">

	<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
	<!--
	<link rel="canonical" href="http://www.example.com/">
	-->

	{{> common-style}}

	{{#is "post, page"}}
		{{#post}}
		{{> post-style}}
		{{/post}}
	{{/is}}

	{{ghost_head}}
	</head>

	<body>
		{{#is "post, page"}}
			<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
		{{else}}
			<div class="demo-blog mdl-layout mdl-js-layout mdl-layout__header--transparent has-drawer is-upgraded">
		{{/is}}

				<header class="mdl-layout__header mdl-layout__header--transparent">
					<div class="mdl-layout__header-row">
						<!-- Title -->
						<span class="mdl-layout-title">{{meta_title}}</span>
						<!-- Add spacer, to align navigation to the right -->
						<div class="mdl-layout-spacer"></div>
						<!-- Navigation -->
						{{navigation}}
					</div>
				</header>

			{{#is "post, page"}}
				<div class="demo-back">
					<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{{@blog.url}}">
						<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900 mdl-shadow--4dp">
							<i class="material-icons">arrow_back</i>
						</button>
					</a>
				</div>
			{{else}}
				<div class="mdl-layout__drawer">
					<span class="mdl-layout-title">Title</span>
					{{navigation}}
				</div>
			{{/is}}

				{{{body}}}
				<div class="mdl-layout__obfuscator"></div>
		</div>

		{{ghost_foot}}
		{{!<a href="https://github.com/google/material-design-lite/blob/master/templates/blog/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>}}
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
	</body>

	<script>
		Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
		var link = el.querySelector('a');
		if(!link) {
			return;
		}
		var target = link.getAttribute('href');
		if(!target) {
			return;
		}
		el.addEventListener('click', function() {
			location.href = target;
		});
		});
	</script>
	</html>
